#python>=3.7
pygame>=2.0
pygame-menu>=4.1.0
gpiozero>=1.6.2
rpi.gpio>=0.7.0
pygame-vkeyboard>=2.0.9
tinydb>=4.4.0
pyserial>=3.5
flask
flask-reuploaded
git+https://github.com/yagui/flaskcode@touchscreen
