[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MiceTSMenu
Icon=/home/pi/touchscreen/mouse.xpm
Exec=/home/pi/touchscreen/runTouchscreen.sh
Comment[en_US]=Mouse Touchscreen Training
Categories=Utility
